<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head>
        <title>PantanalAprendendo - lista de Alunos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- importa  o css do bootstrap -->  
        <link  href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>  



    </head>
    <body>

        <!--chama meu fragmento header que esta dentro do arquivo fragmentos.html que esta dentro da pasta fragmentos -->
        <div th:replace="fragmentos/fragmentos :: header"></div> 



        <h2>Lista de Alunos cadastrados</h2>
        <a href="/alunos/inserir" class="btn btn-default">Criar Novo aluno...  </a>

       

        <table class="table" id="tbl-alunos">
            <thead>

            <th>Nome do Aluno</th>    
            <th>Idade</th>   
            <th>Instituição</th> 
            <th>Ações</th>   
        </thead>   

        <tbody>
            <!-- ele usa um for que mostra todas as instituicoes -->
            <tr th:each="aluno: ${alunos}">
                <td th:text="${aluno.nome}"></td> 
                  <td th:text="${aluno.idade}"></td> 
                <td th:text="${aluno.instituicao.nome}"></td> 
                <td>

                    <a th:href="@{/alunos/editar/{id}(id=${aluno.id})}">Editar</a> | 
                    <a th:href="@{/alunos/excluir/{id}(id=${aluno.id})}">Excluir</a>  

                </td>

            </tr>

        </tbody>

    </table>



    <!--chama meu fragmento footer que esta dentro do arquivo fragmentos.html que esta dentro da pasta fragmentos -->
    <div th:replace="fragmentos/fragmentos :: footer"></div>



    <script type="text/javascript" src="/webjars/jquery.com/3.4.1/jquery.min.js"></script>  
    
    
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
      
      
    </script>
  
  
   
      

</body>
</html>
